// ================== Blog ==========================
.blog-box
{
	margin-bottom: 3rem;
}
// ================== Blog ==========================


//============ mobile media query section ============
@media(max-width: 760px)
{
	.banner-left
	{
		padding-bottom: 10%;
		clip-path:none !important;
	}
}  
//========== end mobile media query section =========== 
