body.responsive-menu-open
{
	height: 100%;
	overflow: hidden;

}
.responsive-menu
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #20a4dd;
	z-index: 1001;
	overflow-y: scroll; 
	transform: translateX(1000px);
	transition:transform 0.2s linear; 

	&.is_open
	{
		transform: translateX(0);
	} 

	ul
	{
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-top: 20px;

		li 
		{
			a 
			{
				padding: 20px 0;
				display: inline-block;	
				text-align: center;
				width: 100%;
				color: #fff;
				font-size: 1em;
				text-decoration:none;
				font-family: 'Montserrat', sans-serif;
			}
			a:hover
			{
				background: #12678c;
			}

		} 
	}
	.top
	{
		display: flex;
		justify-content: flex-end;

		.close-btn
		{
				
		    padding: 20px;
		    font-size: 1.5rem;
		    background: none;
		    border: none;
		    outline: none;
		    color: #fff;
		}
	}
	

}